{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-dark text-white">
                <h3>Blockchain Explorer</h3>
            </div>
            <div class="card-body">
                <p class="card-text">This is the complete blockchain containing all encrypted records.</p>
                
                {% for block in blocks %}
                <div class="card block-card">
                    <div class="card-body">
                        <h5 class="card-title">Block #{{ block.index }}</h5>
                        <p class="card-text">
                            <strong>Timestamp:</strong> {{ block.timestamp }}<br>
                            <strong>Previous Hash:</strong> <code>{{ block.previous_hash[:20] }}...</code><br>
                            <strong>Current Hash:</strong> <code>{{ block.hash[:20] }}...</code><br>
                            <strong>Nonce:</strong> {{ block.nonce }}<br>
                            <strong>Data:</strong>
                            <ul>
                                <li>Nonce: <code>{{ block.data.nonce[:20] }}...</code></li>
                                <li>Ciphertext: <code>{{ block.data.ciphertext[:20] }}...</code></li>
                                <li>Tag: <code>{{ block.data.tag[:20] }}...</code></li>
                            </ul>
                        </p>
                        <button class="btn btn-sm btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#blockDetails{{ block.index }}">
                            Show Full Details
                        </button>
                        <div class="collapse mt-2" id="blockDetails{{ block.index }}">
                            <div class="card card-body">
                                <pre>{{ block|tojson(indent=2) }}</pre>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}